@charset "utf-8";
html{
    height:200%;
}
body{
    font-family:"Avenir Next";
    background-color:rgb(255, 254, 254);
    min-height: 140%;
    /*height: 1000px;*/
}

h1{
    font-size: 60px;
    text-align: center;
}

.z-index_test {
    height:  200px;            
    width:  200px;             
    background-color: #FF5722;  
    position:  relative;        
    z-index: 10;              
}
.z-index_test2 {
    height:  200px;             
    width:  200px;           
    background-color: #03A9F4;  
    position:  absolute;        
    top: 70px;                  
    left: 100px;             
    z-index: 100;              
}
