@charset "utf-8";
html{
    height:200%;
}
body{
    font-family:"Avenir Next";
    background-color:rgb(255, 254, 254);
    min-height: 140%;
    /*height: 1000px;*/
}

h1{
    font-size: 60px;
    text-align: center;
}
